In [1]:
import pandas as pd
df1 = pd.read_csv(r"cleaned.csv")
df1.head(5)

,Unnamed: 0,index,selftext,num_comments,score,title
0,0,11,realize pretty vague honestly mind long simply...,0,1,Trying to source house track I heard on dubpla...
1,1,21,know long shot looking song month luck hoping ...,5,3,"Does anyone have a copy of Rene Breitbarth - ""..."
2,2,49,post dedicated finding unknown unidentifiable ...,9,4,Welcome to our weekly post for song/track IDs....
3,3,91,kind remix like best d,2,1,"Looking for a really good remix of ""Foreigner ..."
4,4,111,like minimal micro house playlist you perfect ...,0,3,Minimal House / Deep Tech Playlist (Submission...

In [2]:
X=pd.DataFrame({'text':df1['selftext']})
X = X.dropna()
X

                                                   text
0     realize pretty vague honestly mind long simply...
1     know long shot looking song month luck hoping ...
2     post dedicated finding unknown unidentifiable ...
3                                kind remix like best d
4     like minimal micro house playlist you perfect ...
...                                                 ...
3879                              would appreciate much
3880  looking house track long drum break conga djem...
3881  trying get year contacted label said would sho...
3882  mine in particular order hard omar s heard che...
3883  hey guy first post reddit please bare making m...

[3305 rows x 1 columns]

In [3]:
import nltk
from nltk.corpus import stopwords
#nltk.download("stopwords") #uncomment it when run it for the first time
stop_words = set(stopwords.words("english"))

def remove_stopwords(text):
    text = " ".join([word for word in text.split() if word not in stop_words])
    return text
X['text']=X['text'].apply(lambda x: remove_stopwords(x))

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
vec=CountVectorizer(max_df=0.5,min_df=0.01, stop_words='english')
counts=vec.fit_transform(X['text'])
counts=counts.toarray()
count_df1=pd.DataFrame(counts,columns=vec.get_feature_names())
#count_df1=count_df1.drop(['amp','don'],axis=1)
count_df1

,able,absolutely,acid,actually,advance,ago,album,amazing,amp,anybody,...,week,weekend,welcome,went,wondering,word,work,xb,year,youtube
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3300,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3301,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3302,0,1,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,2,0
3303,0,0,2,0,0,0,2,1,0,0,...,0,0,0,0,0,0,0,0,3,0
3304,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
from sklearn.decomposition import NMF

model1=NMF(n_components=4,init="random",random_state=0)
model1.fit(count_df1)
#model1.components_

C:\Users\ymf\anaconda3\lib\site-packages\sklearn\decomposition\_nmf.py:1076: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn("Maximum number of iterations %d reached. Increase it to"

NMF(init='random', n_components=4, random_state=0)

In [6]:
import numpy as np
def top_words(X, model, component, num_words):
    """
    Extract the top words from the specified component 
    for a topic model trained on data. 
    X: a term-document matrix, assumed to be a pd.DataFrame
    model: a sklearn model with a components_ attribute, e.g. NMF
    component: the desired component, specified as an integer. 
        Must be less than than the total number of components in model
    num_words: the number of words to return.
    """
    orders = np.argsort(model.components_, axis = 1)
    important_words = np.array(X.columns)[orders]
    return important_words[component][-num_words:]

In [7]:
topic1=pd.DataFrame({'Topic 0':top_words(count_df1, model1, 0, 10),
                   'Topic 1':top_words(count_df1, model1, 1, 10),
                   'Topic 2':top_words(count_df1, model1, 2, 10),
                   })
topic1

    Topic 0 Topic 1 Topic 2  Topic 3
0      life   heard    tell     good
1   comment  really    mind     love
2     party    love    life  looking
3      edit   remix     day    genre
4  original    help    love     know
5     remix    know   party      new
6     house    like   house     like
7       mix     mix    like     tech
8      love    song      xb     deep
9       amp   track     amp    house