In [6]:
import pandas as pd
df= pd.read_csv("cleaned_house.csv")
df

,Unnamed: 0,index,selftext,num_comments,score,title
0,0,11,realize pretty vague honestly mind long simply...,0,1,Trying to source house track I heard on dubpla...
1,1,21,know long shot looking song month luck hoping ...,5,3,"Does anyone have a copy of Rene Breitbarth - ""..."
2,2,49,post dedicated finding unknown unidentifiable ...,9,4,Welcome to our weekly post for song/track IDs....
3,3,91,kind remix like best d,2,1,"Looking for a really good remix of ""Foreigner ..."
4,4,111,like minimal micro house playlist you perfect ...,0,3,Minimal House / Deep Tech Playlist (Submission...
...,...,...,...,...,...,...
4861,4861,76648,looking house track long drum break conga djem...,0,1,Looking for tracks with percussive drum breaks
4862,4862,76784,trying get year contacted label said would sho...,4,1,Need Some Help Finding a Rare Tiger &amp; Wood...
4863,4863,76797,time year yearly round best music year rule si...,13,17,r/House's 2016 Favourites
4864,4864,76800,mine in particular order hard omar s heard che...,3,11,Your favourite tracks of the year 2016?
4865,4865,76851,hey guy first post reddit please bare making m...,16,2,Is jackmaster super overrated ?

In [7]:
import re
def remove_other(x):
    x = re.sub("\$"," ", x) #remove $
    x = re.sub("https*\S+", " ", x) #remove url
    #x = re.sub("\'\w+", '', x) #remove i'm,we're,let's after the '
    #x = re.sub("[0-9]+", '', x) #remove numbers
    x = x.encode('ascii', 'ignore').decode()
    return x

In [11]:
X=pd.DataFrame({'text':df['selftext']})
X = X.dropna().reset_index()
X

      index                                               text
0         0  realize pretty vague honestly mind long simply...
1         1  know long shot looking song month luck hoping ...
2         2  post dedicated finding unknown unidentifiable ...
3         3                             kind remix like best d
4         4  like minimal micro house playlist you perfect ...
...     ...                                                ...
4282   4861  looking house track long drum break conga djem...
4283   4862  trying get year contacted label said would sho...
4284   4863  time year yearly round best music year rule si...
4285   4864  mine in particular order hard omar s heard che...
4286   4865  hey guy first post reddit please bare making m...

[4287 rows x 2 columns]

In [13]:
#from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
#analyzer=‘char_wb’
vec=TfidfVectorizer(min_df=0.01,stop_words='english',ngram_range=(1,2))
counts=vec.fit_transform(X['text'])
counts=counts.toarray()
count_df1=pd.DataFrame(counts,columns=vec.get_feature_names())
#count_df1=count_df1.drop(['amp','don'],axis=1)
count_df1

,able,absolutely,acid,actually,add,advance,ago,album,amazing,amp,...,woman,wondering,word,work,working,world,xb,year,year ago,youtube
0,0.000000,0.000000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
1,0.355724,0.000000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
2,0.000000,0.000000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
3,0.000000,0.000000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
4,0.000000,0.000000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.205086,...,0.0,0.0,0.0,0.0,0.0,0.0,0.243245,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4282,0.000000,0.000000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
4283,0.000000,0.233473,0.00000,0.0,0.0,0.0,0.0,0.000000,0.211949,0.129906,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.317682,0.0,0.0
4284,0.000000,0.000000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.292003,0.0,0.0
4285,0.000000,0.000000,0.15038,0.0,0.0,0.0,0.0,0.133915,0.068470,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.153940,0.0,0.0
4286,0.000000,0.000000,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0

In [14]:
from sklearn.decomposition import NMF

model1=NMF(n_components=3,init="random",random_state=0)
model1.fit(count_df1)
#model1.components_

NMF(init='random', n_components=3, random_state=0)

In [15]:
import numpy as np
def top_words(X, model, component, num_words):
    """
    Extract the top words from the specified component 
    for a topic model trained on data. 
    X: a term-document matrix, assumed to be a pd.DataFrame
    model: a sklearn model with a components_ attribute, e.g. NMF
    component: the desired component, specified as an integer. 
        Must be less than than the total number of components in model
    num_words: the number of words to return.
    """
    orders = np.argsort(model.components_, axis = 1)
    important_words = np.array(X.columns)[orders]
    return important_words[component][-num_words:]

In [16]:
topic1=pd.DataFrame({'Topic 0':top_words(count_df1, model1, 0, 10),
                   'Topic 1':top_words(count_df1, model1, 1, 10),
                   'Topic 2':top_words(count_df1, model1, 2, 10)})
topic1

       Topic 0   Topic 1  Topic 2
0         good     track     love
1     playlist     enjoy  looking
2         tech      hope  similar
3   deep house       mix   thanks
4         like  feedback     help
5          new     remix      mix
6         deep     video     like
7  house music        xb     know
8        music    amp xb     song
9        house       amp    track

Topic 0: social security/pension \
Topic 1: social media/life \
Topic 2: post/social medium/ins/facebook

In [17]:
W=model1.fit_transform(count_df1)
L=[]
for i in W:
    L.append(i.argmax())
X['topic']=L
t0=X[X.topic==0]
t1=X[X.topic==1]
t2=X[X.topic==2]

## Compare Emotion across topics

In [23]:
def sent_df(df):
    from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA
    import my_module
    import importlib
    importlib.reload(my_module)
    from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
    sid = SentimentIntensityAnalyzer()
    #create a list of dictionaries
    sia = SIA()
    results = []
    words=[]

    for line in df['text']:
        D,pol_score=sid.polarity_scores(sia,text=line) #use customized module
        pol_score['text'] = line
        results.append(pol_score)
        words.append(D)
    #Extract sentiment words
    D_p=[] # positive word and its sentiment score
    D_n=[] # negative word and its sentiment score
    D1=[] # only positive word
    D2=[] # only negative word
    for i in range(len(words)):
        newDict = {key: value for (key, value) in words[i].items() if value != 0.0 }
        newDict1 = {key: value for (key, value) in words[i].items() if value > 0.0 }
        newDict2 = {key: value for (key, value) in words[i].items() if value < 0.0 }
        D_p.append(newDict1)
        D_n.append(newDict2)
        D1.append(list(newDict1.keys()))
        D2.append(list(newDict2.keys()))
    #create a df to write in the results of sentiment analysis
    sent = pd.DataFrame(results)
    sent['p_word_dict']=D_p
    sent['n_word_dict']=D_n
    p=[]
    n=[]
    for i in D1:
        p.append(' '.join(i))
    for i in D2:
        n.append(' '.join(i))
    sent['total']=(sent.pos-sent.neg)/sent.neu    
    sent['p_word']=p
    sent['n_word']=n
    sent['label']=0
    sent['label'].loc[sent['total']> 0]=1
    sent['label'].loc[sent['total']< 0]=-1
    return sent

IndentationError: unexpected indent (<ipython-input-23-d62b398ca19f>, line 9)

In [22]:
a=sent_df(t0)
a['topic']=0

b=sent_df(t1)
b['topic']=1

c=sent_df(t2)
c['topic']=2

AttributeError: module 'my_module' has no attribute 'polarity_scores'

In [ ]:
final=pd.concat([a,b,c],axis=0)
final.total.describe()

In [ ]:
c.total.describe()

In [ ]:
import seaborn as sns
ax = sns.boxplot(x="topic", y="total", data=final,showfliers = False)
ax.set(ylabel="Sentiment Score",title="Sentiment Score by topics")

## Most common positive/negative words

In [ ]:
def sort_pn(df):
    positive=df.p_word[df['label']==1] #positive words in positive post
    negative=df.n_word[df['label']==-1] #negative words in negative post
    return positive,negative

In [ ]:
import itertools
import collections
def count_words(text):
    all_words = list(itertools.chain(*text.str.split()))
    counts = collections.Counter(all_words)
    counts_df = pd.DataFrame(counts.most_common(100),
                            columns=['words', 'count'])

    return counts_df

In [ ]:
positive,negative=sort_pn(final)
p_n=pd.concat([count_words(positive)[:5],count_words(negative)[:5]])
p_n

In [ ]:
positive,negative=sort_pn(a)
p_n=pd.concat([count_words(positive)[:5],count_words(negative)[:5]])
p_n

In [ ]:
positive,negative=sort_pn(b)
p_n=pd.concat([count_words(positive)[:5],count_words(negative)[:5]])
p_n

In [ ]:
positive,negative=sort_pn(c)
p_n=pd.concat([count_words(positive)[:5],count_words(negative)[:5]])
p_n

## Word Frequency splitted by sentiment

In [ ]:
from nltk.corpus import stopwords
#nltk.download("stopwords") #uncomment it when run it for the first time
stop_words = set(stopwords.words("english"))

stop_words.update({'would','k','im','could','also',
                   'amp','much','one','like','get',
                   'since','etc','got','always',
                   'know','thing','really','dont',
                   'find','even','go','time','need','want'
                  })
def remove_stopwords(text):
    text = " ".join([word for word in text.split() if word not in stop_words])
    return text

final['text']=final['text'].apply(lambda x: remove_stopwords(x))

In [ ]:
from nltk.util import ngrams
def count_2gram(text):
    all_words = list(itertools.chain(*text.str.split()))
    es2grams = ngrams(all_words, 2)
    counts = collections.Counter(es2grams)
    count_df = pd.DataFrame(counts.most_common(100),
                            columns=['words', 'count'])
    dictionary2 = [' '.join(tup) for tup in count_df.words]
    count_df.words=dictionary2

    return count_df

In [ ]:
final.total.describe()

In [ ]:
def pn_freq(df):
    count_p=count_2gram(df['text'][df['label']>0.191186]) #>0.109797 #==1
    count_n=count_2gram(df['text'][df['label']<-0.006572]) #<-0.001208 #==-1
    return count_p,count_n

p,n=pn_freq(final)
p.head(10),n.head(10)

In [ ]:
p,n=pn_freq(final[final.topic==0])
p.head(10),n.head(10)

In [ ]:
p,n=pn_freq(final[final.topic==1])
p.head(10),n.head(10)

In [ ]:
p,n=pn_freq(final[final.topic==2])
p.head(10),n.head(10)

## Topic Modeling after sentiment splitting

In [ ]:
final.total.describe()

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vec=TfidfVectorizer(min_df=0.01,stop_words='english',ngram_range=(1,2))
counts=vec.fit_transform(final['text'][final['label']>0.191186]) #positive
counts=counts.toarray()
count_df1=pd.DataFrame(counts,columns=vec.get_feature_names())
#count_df1=count_df1.drop(['amp','don'],axis=1)
count_df1

In [ ]:
from sklearn.decomposition import NMF

model1=NMF(n_components=3,init="random",random_state=1)
model1.fit(count_df1)

In [ ]:
topic2=pd.DataFrame({'Topic 0':top_words(count_df1, model1, 0, 10),
                   'Topic 1':top_words(count_df1, model1, 1, 10),
                   'Topic 2':top_words(count_df1, model1, 2, 10)})
topic2
# 'Topic 4':top_words(count_df1, model1, 4, 10),
#                     'Topic 5':top_words(count_df1, model1, 5, 10)

pay house/loan/car \
retirement \
credit card \
school friend feel

In [ ]:
vec=TfidfVectorizer(min_df=0.01,stop_words='english',ngram_range=(1,2))
counts=vec.fit_transform(final['text'][final['label']<-0.006572]) #negative
counts=counts.toarray()
count_df2=pd.DataFrame(counts,columns=vec.get_feature_names())
#count_df1=count_df1.drop(['amp','don'],axis=1)
count_df2

In [ ]:
model2=NMF(n_components=3,init="random",random_state=0)
model2.fit(count_df2)

In [ ]:
topic3=pd.DataFrame({'Topic 0':top_words(count_df2, model2, 0, 10),
                   'Topic 1':top_words(count_df2, model2, 1, 10),
                   'Topic 2':top_words(count_df2, model2, 2, 10)})
topic3

live home/parent \
credit card and insurance \
retirement \
parent talking

## Find all adj. related to parent

In [ ]:
from nltk.tokenize import sent_tokenize
#nltk.download('punkt')
sentence=df['selftext'].apply(lambda x: sent_tokenize(x))

In [ ]:
def extract_parent(sentence_ele):
    L=[]
    for i in sentence_ele:
        if 'time' in i: 
            L.append(i)
    return L

In [ ]:
parent_sentence=sentence.apply(lambda x: extract_parent(x))
' '.join(parent_sentence[0])

In [ ]:
parent_sentence[0]

In [ ]:
import nltk
tokens=nltk.word_tokenize(parent_sentence[39][1])
print(tokens)

In [ ]:
nltk.pos_tag(tokens)

In [ ]:
#nltk.download('averaged_perceptron_tagger')
def extract_adj(sentence_ele):
    adjs=[]
    for i in sentence_ele:
        tokens=nltk.word_tokenize(i)
        df_type=pd.DataFrame(nltk.pos_tag(tokens),columns=['words', 'type'])
        adjs=list(df_type[df_type.type=='JJ'].words)
    return ' '.join(adjs)

In [ ]:
adjs=parent_sentence.apply(lambda x: extract_adj(x))

In [ ]:
adjs

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vec=TfidfVectorizer(max_df=0.5,min_df=0.01,stop_words='english',ngram_range=(1,2))
counts=vec.fit_transform(adjs)
counts=counts.toarray()
count_df1=pd.DataFrame(counts,columns=vec.get_feature_names())
#count_df1=count_df1.drop(['amp','don'],axis=1)
count_df1

In [ ]:
from sklearn.decomposition import NMF

model1=NMF(n_components=3,init="random",random_state=0)
model1.fit(count_df1)

In [ ]:
topic1=pd.DataFrame({'Topic 0':top_words(count_df1, model1, 0, 10),
                   'Topic 1':top_words(count_df1, model1, 1, 10),
                   'Topic 2':top_words(count_df1, model1, 2, 10)})
topic1

In [ ]:
# List of all words across rows
import itertools
import collections
def count_words(text):
    all_words = list(itertools.chain(*text.str.split()))
    counts = collections.Counter(all_words)
    counts_df = pd.DataFrame(counts.most_common(100),
                            columns=['words', 'count'])

    return counts_df
count_words(adjs).head(20)

In [ ]:
stop_words.update({'i','*','im','’','much'})
adjs=adjs.apply(lambda x: remove_stopwords(x))
count_df=count_words(adjs)
count_df.head(10)