In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np
import re


# Main dataset read in here


main = pd.read_csv('homevalue_zip.csv')
main = main[main['StateName']=='CA']
main.rename(columns = {"RegionName":"Zip","CountyName":"County"}, inplace=True)

#Check Column Names and their indexes
#i = 0
#for col_name in homevalue.columns: 
    #print(col_name,i)
    #i = i+1

    
# Select the columns we need
    
main_subset1 = main.iloc[:,177:312]
main_subset2 = main.iloc[:,[8,2,5,6]]


main = pd.concat([main_subset1, main_subset2], axis=1)
main

,2010-01-31,2010-02-28,2010-03-31,2010-04-30,2010-05-31,2010-06-30,2010-07-31,2010-08-31,2010-09-30,2010-10-31,...,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,County,Zip,State,City
13,1360248.0,1371500.0,1367034.0,1361617.0,1355836.0,1359737.0,1350814.0,1352028.0,1355050.0,1357467.0,...,2756297.0,2730469.0,2707075.0,2688144.0,2669748.0,2659924.0,San Francisco County,94109,CA,San Francisco
21,398115.0,396063.0,395565.0,397041.0,400088.0,398494.0,398359.0,396367.0,395630.0,394156.0,...,735089.0,742620.0,748652.0,754558.0,761302.0,768925.0,Los Angeles County,90250,CA,Hawthorne
39,316435.0,314690.0,310917.0,307476.0,305356.0,301895.0,298806.0,293130.0,292972.0,291076.0,...,619675.0,624758.0,629591.0,636837.0,646154.0,655950.0,Contra Costa County,94565,CA,Pittsburg
43,605970.0,605225.0,605009.0,606406.0,613634.0,612335.0,607943.0,598985.0,588396.0,580386.0,...,1925416.0,1934178.0,1945332.0,1960984.0,1973954.0,1985115.0,Los Angeles County,90046,CA,Los Angeles
87,496872.0,498563.0,500502.0,502803.0,507965.0,508603.0,507297.0,503664.0,502299.0,500278.0,...,1187083.0,1204079.0,1216006.0,1222751.0,1235760.0,1252920.0,Alameda County,94501,CA,Alameda
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45698.0,46008.0,46318.0,46628.0,46748.0,46969.0,Inyo County,93522,CA,Darwin
30152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,173967.0,173345.0,171547.0,169119.0,167255.0,165476.0,Plumas County,95980,CA,Tobin
30209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,334841.0,334928.0,334661.0,334366.0,334056.0,334560.0,Tuolumne County,95375,CA,Strawberry
30224,231005.0,227230.0,224824.0,225106.0,226430.0,227613.0,227485.0,227285.0,223902.0,219768.0,...,298259.0,301197.0,302286.0,300902.0,298179.0,297710.0,Calaveras County,95229,CA,Vallecito
30234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,330484.0,333923.0,338135.0,342162.0,347144.0,351110.0,El Dorado County,95721,CA,Twin Bridges

In [2]:
# Density and crime rate data read in here
crime = pd.read_csv('crime&population_density.csv')
crime.rename(columns = {"Populationdensity[5][3][note 2]":"Population_density","Property crime rateper 1,000 persons":"Crime_rate_Per1000","City/Agency":"City"}, inplace=True)
crime = crime[["Population_density","Crime_rate_Per1000","County","City"]]

# First merge

main_crime = pd.merge(main,crime,how = "left",on = "City")
main_crime

,2010-01-31,2010-02-28,2010-03-31,2010-04-30,2010-05-31,2010-06-30,2010-07-31,2010-08-31,2010-09-30,2010-10-31,...,2021-01-31,2021-02-28,2021-03-31,County_x,Zip,State,City,Population_density,Crime_rate_Per1000,County_y
0,1360248.0,1371500.0,1367034.0,1361617.0,1355836.0,1359737.0,1350814.0,1352028.0,1355050.0,1357467.0,...,2688144.0,2669748.0,2659924.0,San Francisco County,94109,CA,San Francisco,"18,132.6",53.03,San Francisco
1,398115.0,396063.0,395565.0,397041.0,400088.0,398494.0,398359.0,396367.0,395630.0,394156.0,...,754558.0,761302.0,768925.0,Los Angeles County,90250,CA,Hawthorne,"14,252.6",29.86,Los Angeles
2,316435.0,314690.0,310917.0,307476.0,305356.0,301895.0,298806.0,293130.0,292972.0,291076.0,...,636837.0,646154.0,655950.0,Contra Costa County,94565,CA,Pittsburg,"3,927.7",34.99,Contra Costa
3,605970.0,605225.0,605009.0,606406.0,613634.0,612335.0,607943.0,598985.0,588396.0,580386.0,...,1960984.0,1973954.0,1985115.0,Los Angeles County,90046,CA,Los Angeles,"8,335.9",21.28,Los Angeles
4,496872.0,498563.0,500502.0,502803.0,507965.0,508603.0,507297.0,503664.0,502299.0,500278.0,...,1222751.0,1235760.0,1252920.0,Alameda County,94501,CA,Alameda,"7,378.7",22.36,Alameda
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46628.0,46748.0,46969.0,Inyo County,93522,CA,Darwin,NaN,NaN,NaN
1678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,169119.0,167255.0,165476.0,Plumas County,95980,CA,Tobin,NaN,NaN,NaN
1679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,334366.0,334056.0,334560.0,Tuolumne County,95375,CA,Strawberry,NaN,NaN,NaN
1680,231005.0,227230.0,224824.0,225106.0,226430.0,227613.0,227485.0,227285.0,223902.0,219768.0,...,300902.0,298179.0,297710.0,Calaveras County,95229,CA,Vallecito,NaN,NaN,NaN
1681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,342162.0,347144.0,351110.0,El Dorado County,95721,CA,Twin Bridges,NaN,NaN,NaN

In [3]:
# Read in high school ranking data
# Note here I had to get the mean grouping by city and by county because I noticed that some of the city does
# not have a school so for those I used the average school rating from the county the city belongs to
# This is the best way I can think of dealing with the NA values for school ranking

school = pd.read_excel('California_highschool_ranking.xlsx')
school = school.drop(labels=[0,1,2],axis=0)
school = school.rename(columns=school.iloc[0])
school = school.drop(labels=[3],axis=0)
school = school[["SchoolDigger Star Rating","School","County","Zip","City"]]
school["SchoolDigger Star Rating"] = school["SchoolDigger Star Rating"].astype(int)



School_rating_ave_byCity = school.groupby(["City"])["SchoolDigger Star Rating"].mean()
School_rating_ave_byCity = School_rating_ave_byCity.reset_index()


School_rating_ave_byCounty = school.groupby(["County"])["SchoolDigger Star Rating"].mean()
School_rating_ave_byCounty = School_rating_ave_byCounty.reset_index()

In [4]:
# Merge school ranking data with main df
# Fillna method was pretty handy to use

main_crime_school= pd.merge(main_crime,School_rating_ave_byCity,how = "left",on = "City")
main_crime_school = main_crime_school.drop(columns = "County_y").rename(columns = {"County_x":"County"})


main_crime_school= pd.merge(main_crime_school,School_rating_ave_byCounty,how = "left",on = "County")
main_crime_school["SchoolDigger Star Rating_x"] = main_crime_school["SchoolDigger Star Rating_x"].fillna(main_crime_school['SchoolDigger Star Rating_y'])


main_crime_school = main_crime_school.drop(columns = "SchoolDigger Star Rating_y").rename(columns = {"SchoolDigger Star Rating_x":"School_ranking"})

# Here I started to try to figure out how to label the crime rate and the population density by quantiles, there were couple things
# I could not figure out. I tried for about any hour, so I decided to use R to deal with this, I also pushed the Rmd file onto Github


main_crime_school.to_csv("main_crime_school.csv")

In [5]:
# Use regular expression to get everything before the word County, then I can merge school data with main dataset in next block
#school["County"] = school["County"].str.extract("^(.*?)County")

In [6]:
# Read in the df I cleaned with R


main_after_R = pd.read_csv("main_crime_school_R.csv")


# Read in the df contains longitude and latidtude here
# As professor suggested that we should use them when building neural network model

zip_Geoinfo = pd.read_csv("us-zip-code-latitude-and-longitude.csv",sep=";") 

zip_Geoinfo["Zip"] = zip_Geoinfo["Zip"].astype(int)

# Merge with main df

main_crime_school_Geo_density = pd.merge(main_after_R,zip_Geoinfo,how = "left",on = "Zip")

main_crime_school_Geo_density = main_crime_school_Geo_density.drop(columns =  ["City_y","State_y","Timezone","geopoint","Daylight savings time flag","X","Unnamed: 0"])

In [7]:
main_crime_school_Geo_density

,X2010.01.31,X2010.02.28,X2010.03.31,X2010.04.30,X2010.05.31,X2010.06.30,X2010.07.31,X2010.08.31,X2010.09.30,X2010.10.31,...,Zip,State_x,City_x,Population_density,Crime_rate_Per1000,School_ranking,crime_rate,label_density,Latitude,Longitude
0,1360248.0,1371500.0,1367034.0,1361617.0,1355836.0,1359737.0,1350814.0,1352028.0,1355050.0,1357467.0,...,94109,CA,San Francisco,18132.6,53.03,2.500000,1,1,37.792778,-122.421880
1,398115.0,396063.0,395565.0,397041.0,400088.0,398494.0,398359.0,396367.0,395630.0,394156.0,...,90250,CA,Hawthorne,14252.6,29.86,2.200000,2,1,33.914614,-118.350920
2,316435.0,314690.0,310917.0,307476.0,305356.0,301895.0,298806.0,293130.0,292972.0,291076.0,...,94565,CA,Pittsburg,3927.7,34.99,0.666667,1,3,38.017917,-121.905020
3,605970.0,605225.0,605009.0,606406.0,613634.0,612335.0,607943.0,598985.0,588396.0,580386.0,...,90046,CA,Los Angeles,8335.9,21.28,2.212766,3,1,34.098908,-118.362410
4,496872.0,498563.0,500502.0,502803.0,507965.0,508603.0,507297.0,503664.0,502299.0,500278.0,...,94501,CA,Alameda,7378.7,22.36,3.833333,3,1,37.769528,-122.259370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,93522,CA,Darwin,NaN,NaN,2.333333,5,5,36.269728,-117.590020
1678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95980,CA,Tobin,NaN,NaN,3.000000,5,5,39.918503,-121.337404
1679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95375,CA,Strawberry,NaN,NaN,2.375000,5,5,38.184096,-120.021342
1680,231005.0,227230.0,224824.0,225106.0,226430.0,227613.0,227485.0,227285.0,223902.0,219768.0,...,95229,CA,Vallecito,NaN,NaN,2.400000,5,5,38.110355,-120.454360
1681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95721,CA,Twin Bridges,NaN,NaN,3.500000,5,5,38.823996,-120.059560

In [8]:
# Read in Renting df

Renting = pd.read_csv("RentingValue_Zip.csv")
Renting = Renting.rename(columns = {"RegionName":"Zip"})
Renting

,RegionID,Zip,SizeRank,MsaName,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,...,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03
0,61639,10025,1,"New York, NY",3001.0,3014.0,3027.0,3040.0,3053.0,3066.0,...,3125.0,3084.0,3043.0,3002.0,2961.0,2919.0,2877.0,2835.0,2794.0,2752.0
1,84654,60657,2,"Chicago, IL",1508.0,1514.0,1519.0,1524.0,1529.0,1534.0,...,1727.0,1720.0,1714.0,1708.0,1702.0,1695.0,1689.0,1683.0,1677.0,1671.0
2,61637,10023,3,"New York, NY",3098.0,3109.0,3120.0,3131.0,3142.0,3152.0,...,3217.0,3177.0,3135.0,3094.0,3053.0,3010.0,2968.0,2926.0,2883.0,2841.0
3,91982,77494,4,"Houston, TX",1620.0,1623.0,1626.0,1629.0,1632.0,1635.0,...,1645.0,1648.0,1652.0,1657.0,1661.0,1665.0,1670.0,1674.0,1679.0,1684.0
4,84616,60614,5,"Chicago, IL",1703.0,1708.0,1713.0,1718.0,1723.0,1727.0,...,1952.0,1939.0,1926.0,1912.0,1899.0,1885.0,1871.0,1857.0,1842.0,1828.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2373,71856,32202,8772,"Jacksonville, FL",1133.0,1137.0,1141.0,NaN,1148.0,1152.0,...,1411.0,1415.0,1420.0,1424.0,1429.0,1434.0,1438.0,1443.0,1448.0,1453.0
2374,58623,2109,8792,"Boston, MA",NaN,2680.0,2684.0,2689.0,2694.0,2698.0,...,2852.0,2820.0,2785.0,2749.0,2714.0,2678.0,2642.0,2606.0,2570.0,2535.0
2375,58622,2108,8986,"Boston, MA",2519.0,2517.0,2516.0,2515.0,2514.0,2514.0,...,2880.0,2856.0,2823.0,2789.0,2755.0,2721.0,2686.0,2651.0,2615.0,2579.0
2376,66128,20004,9592,"Washington, DC",NaN,NaN,2311.0,2321.0,NaN,2337.0,...,2478.0,2468.0,2456.0,2444.0,2432.0,2419.0,2407.0,2394.0,2381.0,2368.0
2377,84604,60602,10262,"Chicago, IL",2387.0,NaN,NaN,2289.0,NaN,2225.0,...,2227.0,2195.0,2166.0,2136.0,2107.0,2079.0,2051.0,2023.0,1997.0,1971.0

In [11]:
# Merge the renting df with main df 
# Note, both the renting df and main df contains time series.
# The time series columns start with X are for homevalue
# The time series columns only have year and month are for renting
# Dont get confused here and also there are quite alot NAs for renting value especially

main_crime_school_Geo_density_rentingtime_series = pd.merge(main_crime_school_Geo_density,Renting,how = "left",on = "Zip")
main_crime_school_Geo_density_rentingtime_series.to_csv('1.csv',index = True)